
#navbar {
    background-color: #25274d;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0%;
    overflow: hidden;
}
  #App-logo {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    object-fit: contain;
  }
  
  .App-name{
    text-align : left;
    font-size: calc(15px + 2vmin);
    color: white;
    float: left;
  }
  #toggle-mute{
    image-rendering: crisp-edges;
    object-fit: cover;
  }
  @media (prefers-reduced-motion: no-preference) {
    #App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #Hidden-col {
    float: right;
    align-items: stretch;
  }
  #Shown-col {
    left: 10px;
  }
  